.form {
  position: relative;
  margin: 20px 0;
  padding: 20px;
  width: 350px;
  border: 1px solid var(--secondary);
}
.button {
  display: block;
  margin: auto;
}
.alert {
  position: absolute;
  text-align: center;
  height: 50px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
